<!-- display_words.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Words</title>
</head>
<body>
    <h1>Here's your workout!</h1>
    <ul>
        {% for word in words %}
            <li>{{ word }} 3x10</li>
        {% endfor %}
    </ul>
    <p>

        Some tips and tricks:
        <li>Always remeber to warm up properly. This could be some light cardio and dynamic streches.</li>
        <li>Focus on maintaining proper form during exercises to prevent injuries and maximize effectiveness.</li>
        <li>If your goal is to increase muscle growth the best rest period between sets is 30-90 seconds. </li>
        <li>If your goal is to increase muscle endurance the best rest period between sets is 30 seconds or less. </li>
        <li>If you complete a set with little difficulty increase the weight you are using and vice versa. </li>
        <li>Pay attention to how your body feels during the workout. If something doesn't feel right, modify or skip the exercise.</li>
        <li>Finish your workout with a cool-down, including static stretches, to improve flexibility and reduce muscle soreness.</li>
        <li>Most importantly, have fun!</li>

    </p>
</body>
</html>
